.text > span{
    text-decoration: line-through;
}
.link{
    text-decoration: none;
}

.site-nav .link{
    text-transform: capitalize;
}
.post-title{
    text-align: center;
}
.align-right{
    text-align: right;
}
.align-justify{
    text-align: justify;
}

.post-text{
    text-indent: 100px;
}
.text-text{
    font-size: 16px;
    line-height: 2;
}