.text > span{
    text-decoration: line-through;
}
.link{
    text-decoration: none;
}

.site-nav .link{
    text-transform: capitalize;
}
.post-title{
    text-align: center;
}
.align-right{
    text-align: right;
}
.align-justify{
    text-align: justify;
}

.post-text{
    text-indent: 100px;
}
.text-text{
    font-size: 16px;
    line-height: 2;
}
.post-post-title{
    letter-spacing: 10px;
}
.post-post-text{
    letter-spacing: 5px;
}
.title-title{
    color:#ffffff;
    text-shadow: 2px 2px 4px #000000;
}
.pre-title{
    white-space: pre-wrap;
}